.footer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .glass-background {
        background: linear-gradient(135deg, #3b3b3b46, #1d1d1d46);
        border-radius: 2.1875em;
    }

    .footer-container {
        width: 80%;
        
        padding: 0.625em;
        color: #E4E4E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-transform: capitalize;
            margin-bottom: 0.3125em;
            font-size: 1.2em;
        }

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            .fa {
                text-decoration: none;
                font-size: 1.4em;
                color: #E4E4E4;
            }
        }
    }
}





//MEDIA QUERIES

//ORIENTATION: PORTRAIT
@media (min-width: 48em) {

    .footer {
    
        .footer-container {
    
            p {
                font-size: 1.4em;
            }
    
            ul {
    
                .fa {
                    font-size: 1.6em;
                }
            }
        }
    }

}