.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    background: linear-gradient(0deg, #8d84799a 0%, #ffffff9a 100%);
    -webkit-backdrop-filter: blur(0.1875em);
    backdrop-filter: blur(0.1875em);
    transition: 0.5s;
    transition-delay: 0.6s;

    &.active {
        right: 0;
        transition-delay: 1.5s;
    }

    &__slideDownAdvice {
        display: none;
    }

    &__ul {
        width: 70%;
        height: 90vh;
        margin: 0 auto;
        position: relative;
        top: 10vh;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;

        .link:nth-child(1) {
            margin-top: 0.2em;
        }

        .link {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            color: #545154;
            font-size: 1.35em;
            display: inline-block;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 0.125em;
                background-color: #545154;
                transform: scaleX(0);
                transition: transform 0.25s;
            }

            &::before {
                top: -0.1875em;
                transform-origin: left;
            }

            &::after {
                bottom: -0.1875em;
                transform-origin: right;
            }

            &:hover::before,
            &:hover::after {
                transform: scale(1);
            }
        }

        .active {

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 0.125em;
                background-color: #545154;
                transform: scaleX(1);
                transition: transform 0.25s;
            }
        }
    }

    .contact-button {
        appearance: none;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.5em;
        color: #545154;
        font-size: 1.5em;
        text-transform: uppercase;
        transition: 0.4s;
        position: relative;

        .button-border-line-t,
        .button-border-line-r,
        .button-border-line-b,
        .button-border-line-l {
            display: block;
            background-color: #545154;
            position: absolute;
            width: 0;
            height: 0;
            transition: all 0.4s, opacity 0.1s 0.4s;
            opacity: 0;
        }

        .button-border-line-t {
            left: -0.25em;
            top: 0.2em;
            rotate: 180deg;
        }

        .button-border-line-b {
            right: -0.25em;
            top: 1.78em;
        }

        .button-border-line-r {
            rotate: 90deg;
            right: -0.85em;
            top: 1.022em;
        }

        .button-border-line-l {
            rotate: 90deg;
            left: -0.85em;
            top: 1.022em;
        }

        &:hover {

            .button-border-line-r,
            .button-border-line-l {
                width: 35%;
                height: 0.125em;
                transition: 0.8s, opacity 0.1s;
                opacity: 1;
            }

            .button-border-line-t,
            .button-border-line-b {
                width: 108%;
                height: 0.125em;
                transition: 0.8s, opacity 0.1s;
                opacity: 1;
            }
        }
    }
}



//KEYFRAMES 
@keyframes slide-circle-animation {

    0% {
        bottom: 0;
    }

    70% {
        bottom: 40%;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        bottom: 40%;
    }

}



//MEDIA QUERIES

//ORIENTATION: LANDSCAPE
@media (max-height: 26.5625em) {

    .menu {

        &__slideDownAdvice {
            width: 18%;
            top: 9em;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0.4;

            p {
                text-align: center;
            }

            .swipe-icon {
                width: 50%;
                height: 3.6em;
                margin-top: 0.2em;
                display: flex;
                justify-content: center;

                i {
                    position: absolute;
                    bottom: 0;
                    animation: slide-circle-animation 3s infinite;
                }
            }
        }

        .left-advice {
            left: 10vw;
        }

        .right-advice {
            right: 10vw;
        }

        &__ul {
            width: 100%;
            height: 40vh;
            top: 9em;
            display: inline-block;
            overflow: scroll;

            li {
                text-align: center;
                margin-top: 2em;
            }

            li:nth-child(1) {
                margin-top: 0.2em;
            }

            li:nth-child(5) {
                margin-top: 1.4em;
            }
        }
    }

}