@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-size: 1em; }

::-webkit-scrollbar {
  display: none; }

.header__menuIcon > span {
  display: block;
  width: 2em;
  height: 0.25em;
  border-radius: 1em;
  background-color: #545154; }
  .header__menuIcon > span:not(:last-child) {
    margin-bottom: 0.25em; }

.header__menuIcon, .header__menuIcon > span {
  transition: all 0.4s ease-in-out; }

.header__menuIcon.active {
  transition-delay: 0.8s;
  transform: rotate(45deg); }
  .header__menuIcon.active > span:nth-child(2) {
    width: 0; }
  .header__menuIcon.active > span:nth-child(1),
  .header__menuIcon.active > span:nth-child(3) {
    transition-delay: 0.4s; }
  .header__menuIcon.active > span:nth-child(1) {
    transform: translateY(0.5625em); }
  .header__menuIcon.active > span:nth-child(3) {
    transform: translateY(-0.4375em) rotate(90deg); }

.header__menuIcon:hover {
  cursor: pointer; }

.glass-background {
  -webkit-backdrop-filter: blur(0.625em);
  backdrop-filter: blur(0.625em);
  box-shadow: 0 0.5em 2em 0 #0000005e;
  border: 0.0625em solid #ffffff2e; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main-container {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0; }

.header {
  width: 100%;
  padding: 1.25em 10vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header__logo {
    width: 2.6em; }
  .header hr {
    width: 100%;
    height: 0.2em;
    margin: 0 15vw;
    background-color: #545154;
    border-radius: 39%; }
  .header.active {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }

@media (min-width: 48em) {
  .header hr {
    margin: 0 8vw; } }

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  background: linear-gradient(0deg, #8d84799a 0%, #ffffff9a 100%);
  -webkit-backdrop-filter: blur(0.1875em);
  backdrop-filter: blur(0.1875em);
  transition: 0.5s;
  transition-delay: 0.6s; }
  .menu.active {
    right: 0;
    transition-delay: 1.5s; }
  .menu__slideDownAdvice {
    display: none; }
  .menu__ul {
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    align-items: center; }
    .menu__ul li {
      height: 1.5em; }
    .menu__ul .link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      color: #545154;
      font-size: 1.35em;
      display: inline-block;
      position: relative; }
      .menu__ul .link::before, .menu__ul .link::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.15em;
        background-color: #545154;
        transform: scaleX(0);
        transition: transform 0.25s; }
      .menu__ul .link::before {
        top: -0.1875em;
        transform-origin: left; }
      .menu__ul .link::after {
        bottom: -0.1875em;
        transform-origin: right; }
      .menu__ul .link:hover::before, .menu__ul .link:hover::after {
        transform: scale(1); }
    .menu__ul .active::before, .menu__ul .active::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #545154;
      transform: scaleX(1);
      transition: transform 0.25s; }
  .menu .contact-button {
    height: 2em;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    color: #545154;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.4s;
    position: relative; }
    .menu .contact-button .button-border-line-t,
    .menu .contact-button .button-border-line-r,
    .menu .contact-button .button-border-line-b,
    .menu .contact-button .button-border-line-l {
      display: block;
      background-color: #545154;
      position: absolute;
      width: 0;
      height: 0;
      transition: all 0.4s, opacity 0.1s 0.4s;
      opacity: 0; }
    .menu .contact-button .button-border-line-t {
      left: -0.25em;
      top: 0.2em;
      rotate: 180deg; }
    .menu .contact-button .button-border-line-b {
      right: -0.25em;
      top: 1.78em; }
    .menu .contact-button .button-border-line-r {
      rotate: 90deg;
      right: -0.85em;
      top: 1.022em; }
    .menu .contact-button .button-border-line-l {
      rotate: 90deg;
      left: -0.85em;
      top: 1.022em; }
    .menu .contact-button:hover .button-border-line-r,
    .menu .contact-button:hover .button-border-line-l {
      width: 35%;
      height: 0.12em;
      transition: 0.8s, opacity 0.1s;
      opacity: 1; }
    .menu .contact-button:hover .button-border-line-t,
    .menu .contact-button:hover .button-border-line-b {
      width: 108%;
      height: 0.12em;
      transition: 0.8s, opacity 0.1s;
      opacity: 1; }

@keyframes slide-circle-animation {
  0% {
    bottom: 0; }
  70% {
    bottom: 40%; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    bottom: 40%; } }

@media (max-height: 26.5625em) {
  .menu__slideDownAdvice {
    width: 18%;
    top: 9em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.4; }
    .menu__slideDownAdvice p {
      text-align: center; }
    .menu__slideDownAdvice .swipe-icon {
      width: 50%;
      height: 3.6em;
      margin-top: 0.2em;
      display: flex;
      justify-content: center; }
      .menu__slideDownAdvice .swipe-icon i {
        position: absolute;
        bottom: 0;
        animation: slide-circle-animation 3s infinite; }
  .menu .left-advice {
    left: 10vw; }
  .menu .right-advice {
    right: 10vw; }
  .menu__ul {
    width: 100%;
    height: 40vh;
    top: 9em;
    display: inline-block;
    overflow: scroll; }
    .menu__ul li {
      text-align: center;
      margin-top: 2em; }
    .menu__ul li:nth-child(1) {
      margin-top: 0.2em; }
    .menu__ul li:nth-child(5) {
      margin-top: 1.4em; } }

.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .glass-background {
    background: linear-gradient(135deg, #3b3b3b46, #1d1d1d46);
    border-radius: 2.1875em; }
  .footer .footer-container {
    width: 80%;
    padding: 0.625em;
    color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .footer-container p {
      text-transform: capitalize;
      margin-bottom: 0.3125em;
      font-size: 1.2em; }
    .footer .footer-container ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly; }
      .footer .footer-container ul .fa {
        text-decoration: none;
        font-size: 1.4em;
        color: #E4E4E4; }

@media (min-width: 48em) {
  .footer .footer-container p {
    font-size: 1.4em; }
  .footer .footer-container ul .fa {
    font-size: 1.6em; } }

.index-main-container .header {
  height: 10vh;
  z-index: 7; }

.index-main-container .menu {
  z-index: 6; }

.index-main-container .background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.index-main-container .background-overlay {
  width: 100%;
  height: 100%;
  background: #b8ac9f25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.index-main-container .main {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5; }
  .index-main-container .main .second-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .index-main-container .main .second-container .glass-background {
      background: linear-gradient(135deg, #ffffff1a, #ffffff00);
      box-shadow: 0.0625em 0.0625em 1.25em 0 #0000004d;
      border-radius: 0.38em; }
    .index-main-container .main .second-container .subcontainer {
      min-width: 16em;
      max-width: 24.5em;
      padding: 1.5em;
      color: #545154;
      display: flex;
      flex-direction: column; }
      .index-main-container .main .second-container .subcontainer h1 {
        font-weight: 900;
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase; }
        .index-main-container .main .second-container .subcontainer h1 span {
          font-weight: 400; }
      .index-main-container .main .second-container .subcontainer hr {
        height: 0.25em;
        margin: 1em 10%; }
      .index-main-container .main .second-container .subcontainer p {
        font-weight: 300;
        font-size: 1em;
        text-align: center;
        text-transform: uppercase; }

.index-main-container .footer {
  height: 15vh;
  z-index: 4; }

@media (min-width: 48em) {
  .main-container .main .second-container .subcontainer p {
    padding: 0.4em; } }

@media (max-height: 26.5625em) {
  .main-container .header {
    height: 6.4em; }
  .main-container .main {
    height: 15.625em; }
  .main-container .footer {
    height: 6.4em; } }

.aboutUs-main-container {
  background-color: #E4E4E4; }
  .aboutUs-main-container .header {
    height: 10vh;
    z-index: 5; }
  .aboutUs-main-container .menu {
    z-index: 4; }
  .aboutUs-main-container .main {
    width: 100%;
    margin-top: 1.5em;
    position: relative;
    z-index: 2; }
    .aboutUs-main-container .main .sectionOne {
      width: 100%;
      height: 46em;
      overflow: hidden;
      background-image: url("https://www.legorreta.mx/fotos/proyecto_foto/470230221071627.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      position: relative; }
      .aboutUs-main-container .main .sectionOne__containerOne {
        width: 10em;
        height: 20em;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1em; }
        .aboutUs-main-container .main .sectionOne__containerOne .main-triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 30em 20em 0 20em;
          border-color: #858186 transparent transparent transparent;
          opacity: 0.50;
          position: absolute;
          right: -23em; }
        .aboutUs-main-container .main .sectionOne__containerOne p {
          font-weight: 300;
          letter-spacing: 0.08em;
          position: relative; }
        .aboutUs-main-container .main .sectionOne__containerOne p:nth-child(2) {
          margin: 1.2em 0 0.4em;
          font-weight: 500;
          font-size: 1.2em;
          text-transform: uppercase; }
        .aboutUs-main-container .main .sectionOne__containerOne p:nth-child(4) {
          width: 80%;
          align-self: flex-end; }
        .aboutUs-main-container .main .sectionOne__containerOne ul {
          margin-bottom: 0.7em;
          font-weight: 300;
          align-self: flex-end;
          position: relative; }
          .aboutUs-main-container .main .sectionOne__containerOne ul li {
            letter-spacing: 0.08em; }
      .aboutUs-main-container .main .sectionOne__containerTwo {
        height: 20em;
        color: #FFFFFF;
        position: absolute;
        left: 1em;
        top: 18em; }
        .aboutUs-main-container .main .sectionOne__containerTwo .main-triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 40em 60em 40em;
          border-color: transparent transparent #858186 transparent;
          opacity: 0.60;
          position: absolute;
          left: -46em;
          top: -20em; }
        .aboutUs-main-container .main .sectionOne__containerTwo .second-triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 4em 6em 4em;
          border-color: transparent transparent #F3F5F9 transparent;
          opacity: 0.55;
          position: absolute;
          left: -5.1em;
          top: -8em; }
        .aboutUs-main-container .main .sectionOne__containerTwo p {
          font-weight: 300;
          letter-spacing: 0.08em;
          position: relative; }
        .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(3) {
          margin-bottom: 0.5em;
          font-weight: 500;
          font-size: 1.2em;
          text-transform: uppercase; }
        .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(4) {
          width: 8em; }
        .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(5) {
          width: 10em;
          margin-bottom: 0.5em; }
        .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(6) {
          width: 16em; }
    .aboutUs-main-container .main .sectionTwo {
      width: 100%;
      padding: 0 2em;
      margin: 3em 0;
      color: #858186; }
      .aboutUs-main-container .main .sectionTwo p:nth-child(1) {
        font-weight: 500;
        font-size: 2em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: end; }
      .aboutUs-main-container .main .sectionTwo p:nth-child(2) {
        margin: 0.1em 0 1.5em;
        font-weight: 300;
        font-size: 1.3em;
        text-align: end; }
      .aboutUs-main-container .main .sectionTwo .customers-container {
        width: 80%;
        height: 30em;
        margin: 3.5em auto;
        border-radius: 1.5em;
        box-shadow: 0 0.3em 1em #4d4c4c49;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; }
        .aboutUs-main-container .main .sectionTwo .customers-container p {
          width: 57%;
          margin: 0;
          font-weight: 900;
          font-size: 4em;
          text-transform: uppercase;
          letter-spacing: 0;
          color: #858186;
          word-break: break-all;
          line-height: 0.9em;
          position: absolute; }
        .aboutUs-main-container .main .sectionTwo .customers-container p:nth-child(1) {
          text-align: start;
          left: -0.4em;
          top: -0.5em; }
        .aboutUs-main-container .main .sectionTwo .customers-container p:nth-child(2) {
          text-align: end;
          right: -0.4em;
          bottom: -0.5em; }
        .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer {
          width: 80%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative; }
          .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer hr {
            width: 35%;
            height: 1em;
            background-color: #858186;
            position: absolute; }
          .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer hr:nth-child(1) {
            right: 0.8em;
            top: -3em; }
          .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer hr:nth-child(2) {
            left: 0.8em;
            bottom: -3em; }
          .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer .dynamic-logos {
            height: 5em;
            overflow: hidden;
            position: relative; }
            .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer .dynamic-logos li {
              height: 5em;
              text-align: center;
              list-style: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              position: relative;
              animation: clients-slide 15s infinite; }
            .aboutUs-main-container .main .sectionTwo .customers-container .subcontainer .dynamic-logos li:nth-child(1) {
              opacity: 0; }
  .aboutUs-main-container .footer {
    height: 15vh;
    z-index: 3; }

@keyframes clients-slide {
  5% {
    opacity: 1; }
  20% {
    top: -0em; }
  40% {
    top: -5em; }
  60% {
    top: -10em; }
  80% {
    top: -15em; }
  95% {
    opacity: 1;
    top: -20em; }
  98% {
    opacity: 0; } }

@media (min-width: 23.4375em) {
  .aboutUs-main-container .main .sectionTwo .customers-container p {
    width: 55%;
    font-size: 4.6em; } }

@media (min-width: 26.5625em) {
  .aboutUs-main-container .main .sectionTwo .customers-container p {
    width: 54%;
    font-size: 5.2em; } }

@media (min-width: 48em) {
  .aboutUs-main-container .main .sectionOne {
    width: 80%;
    margin: 0 auto; }
  .aboutUs-main-container .main .sectionTwo {
    margin: 5em 0; }
    .aboutUs-main-container .main .sectionTwo .customers-container {
      margin: 4.5em auto; }
      .aboutUs-main-container .main .sectionTwo .customers-container p {
        width: 30%;
        font-size: 5.8em; } }

@media (min-width: 64em) {
  .aboutUs-main-container .main .sectionTwo .customers-container p {
    width: 22%; } }

@media (min-width: 90em) {
  .aboutUs-main-container .main .sectionOne__containerOne {
    width: 17em;
    height: 30em; }
    .aboutUs-main-container .main .sectionOne__containerOne .main-triangle {
      border-width: 40em 30em 0 30em;
      right: -35em; }
    .aboutUs-main-container .main .sectionOne__containerOne p:nth-child(2) {
      font-size: 1.2em; }
    .aboutUs-main-container .main .sectionOne__containerOne p:nth-child(4) {
      width: 90%;
      margin-left: 2em;
      font-size: 1.2em;
      align-self: flex-start; }
    .aboutUs-main-container .main .sectionOne__containerOne ul {
      margin-left: 2.6em;
      align-self: flex-start; }
      .aboutUs-main-container .main .sectionOne__containerOne ul li {
        font-size: 1.2em; }
  .aboutUs-main-container .main .sectionOne__containerTwo {
    height: 20em; }
    .aboutUs-main-container .main .sectionOne__containerTwo .main-triangle {
      border-width: 0 40em 60em 40em;
      left: -46em;
      top: -30em; }
    .aboutUs-main-container .main .sectionOne__containerTwo .second-triangle {
      border-width: 0 10em 14em 10em;
      left: -11em;
      top: -15.5em; }
    .aboutUs-main-container .main .sectionOne__containerTwo p {
      letter-spacing: 0.08em;
      font-size: 1.2em; }
    .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(4) {
      width: 11em; }
    .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(5) {
      width: 14em;
      margin-bottom: 0.5em; }
    .aboutUs-main-container .main .sectionOne__containerTwo p:nth-child(6) {
      width: 19em; }
  .aboutUs-main-container .main .sectionTwo .customers-container p {
    width: 15.5%; } }

@media (max-height: 26.5625em) {
  .main-container .header {
    height: 6.4em; }
  .main-container .main {
    height: 97em; }
  .main-container .footer {
    height: 6.4em; } }

.projects-main-container {
  background-color: #E4E4E4; }
  .projects-main-container .header {
    height: 10vh;
    z-index: 5; }
  .projects-main-container .menu {
    z-index: 4; }
  .projects-main-container .main {
    width: 100%;
    height: 90vh;
    padding-top: 5vh;
    position: relative;
    z-index: 2; }
    .projects-main-container .main .title {
      width: 80%;
      height: 15%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .projects-main-container .main .title h1 {
        color: #858186;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase; }
    .projects-main-container .main .container {
      width: 85%;
      height: 85%;
      margin: 0 auto;
      overflow: hidden;
      display: flex;
      flex-flow: row wrap;
      position: relative;
      align-content: space-around;
      justify-content: space-around; }
      .projects-main-container .main .container .img {
        width: 5.3em;
        height: 5.3em;
        border-radius: 100%;
        filter: grayscale(100%);
        opacity: 1;
        transition: 0s;
        position: relative; }
        .projects-main-container .main .container .img .close-icon {
          width: 5.5em;
          height: 5.5em;
          opacity: 0;
          position: absolute;
          right: 0; }
          .projects-main-container .main .container .img .close-icon span {
            display: block;
            width: 2.2em;
            height: 0.25em;
            border-radius: 1em;
            background-color: #ff003759;
            transform: rotate(45deg);
            position: absolute;
            bottom: 50%;
            opacity: 0; }
            .projects-main-container .main .container .img .close-icon span:nth-child(2) {
              transform: rotate(-45deg); }
          .projects-main-container .main .container .img .close-icon.active {
            width: 2.2em;
            height: 2.2em;
            opacity: 1;
            top: 0;
            right: 0;
            transition: 0s; }
            .projects-main-container .main .container .img .close-icon.active span {
              opacity: 1;
              transition: 0.8s;
              transition-delay: 1.3s; }
      .projects-main-container .main .container .project1,
      .projects-main-container .main .container .project2,
      .projects-main-container .main .container .project3,
      .projects-main-container .main .container .project4,
      .projects-main-container .main .container .project5,
      .projects-main-container .main .container .project6,
      .projects-main-container .main .container .project7,
      .projects-main-container .main .container .project8,
      .projects-main-container .main .container .project9 {
        background-size: cover;
        background-position: center; }
        .projects-main-container .main .container .project1.active,
        .projects-main-container .main .container .project2.active,
        .projects-main-container .main .container .project3.active,
        .projects-main-container .main .container .project4.active,
        .projects-main-container .main .container .project5.active,
        .projects-main-container .main .container .project6.active,
        .projects-main-container .main .container .project7.active,
        .projects-main-container .main .container .project8.active,
        .projects-main-container .main .container .project9.active {
          width: 100%;
          height: 90%;
          border-radius: 0;
          background-size: contain;
          background-repeat: no-repeat;
          filter: grayscale(0);
          transition: 1s;
          transition-delay: 0.3s; }
        .projects-main-container .main .container .project1.hide,
        .projects-main-container .main .container .project2.hide,
        .projects-main-container .main .container .project3.hide,
        .projects-main-container .main .container .project4.hide,
        .projects-main-container .main .container .project5.hide,
        .projects-main-container .main .container .project6.hide,
        .projects-main-container .main .container .project7.hide,
        .projects-main-container .main .container .project8.hide,
        .projects-main-container .main .container .project9.hide {
          opacity: 0;
          position: absolute;
          top: -500em;
          transition-delay: 0s; }
      .projects-main-container .main .container .project1 {
        background-image: url("../img/projects/projectsImg1.jpeg"); }
      .projects-main-container .main .container .project2 {
        background-image: url("../img/projects/projectsImg2.jpeg"); }
      .projects-main-container .main .container .project3 {
        background-image: url("../img/projects/projectsImg3.jpeg"); }
      .projects-main-container .main .container .project4 {
        background-image: url("../img/projects/projectsImg4.jpeg"); }
      .projects-main-container .main .container .project5 {
        background-image: url("../img/projects/projectsImg5.jpeg"); }
      .projects-main-container .main .container .project6 {
        background-image: url("../img/projects/projectsImg6.jpeg"); }
      .projects-main-container .main .container .project7 {
        background-image: url("https://www.gob.mx/cms/uploads/article/main_image/105120/Palacio_Blog-13tn_.jpg"); }
      .projects-main-container .main .container .project8 {
        background-image: url("https://fastly.4sqi.net/img/general/600x600/7442561_MfuMkuJXqfTcR9aqKtlZkvBCxzqwv21qj6wP2us2Vdw.jpg"); }
      .projects-main-container .main .container .project9 {
        background-image: url("https://assets.isu.pub/document-structure/200225161100-a106cb0de0b0f60405056cf75bc5e5fd/v1/2723715b433e4dcb6de49648206f13a2.jpg"); }
  .projects-main-container .footer {
    height: 15vh;
    z-index: 3; }

@media (min-width: 26.5625em) {
  .projects-main-container .main .title h1 {
    font-size: 2em; }
  .projects-main-container .main .container {
    width: 85%;
    height: 85%; }
    .projects-main-container .main .container .img {
      width: 6.1em;
      height: 6.1em; }
      .projects-main-container .main .container .img .close-icon {
        width: 6.1em;
        height: 6.1em; } }

@media (min-width: 48em) {
  .projects-main-container .main .title h1 {
    font-size: 2.8em; }
  .projects-main-container .main .container {
    width: 85%;
    height: 85%; }
    .projects-main-container .main .container .img {
      width: 8.8em;
      height: 8.8em;
      margin: 0 2em; }
      .projects-main-container .main .container .img .close-icon {
        width: 8.8em;
        height: 8.8em; } }

@media (min-width: 90em) {
  .projects-main-container .main .title h1 {
    font-size: 3.5em; }
  .projects-main-container .main .container {
    width: 90%;
    height: 85%; }
    .projects-main-container .main .container .img {
      width: 9.9em;
      height: 9.9em;
      margin: 0 6em; }
      .projects-main-container .main .container .img .close-icon {
        width: 9.9em;
        height: 9.9em; } }

@media (max-height: 26.5625em) {
  .main-container .header {
    height: 6.4em; }
  .main-container .main {
    height: 50em; }
  .main-container .footer {
    height: 6.4em; } }

.materials-main-container {
  background-color: #E4E4E4; }
  .materials-main-container hr {
    opacity: 1; }
  .materials-main-container ul {
    padding: 0; }
  .materials-main-container .header {
    height: 10vh;
    z-index: 5; }
  .materials-main-container .menu {
    z-index: 4; }
  .materials-main-container .main {
    width: 100%;
    height: 90vh;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2; }
    .materials-main-container .main .carousel {
      width: 100%;
      max-width: 80em;
      height: 100%; }
      .materials-main-container .main .carousel .carousel-inner {
        width: 75%;
        height: 92%;
        margin: auto; }
        .materials-main-container .main .carousel .carousel-inner .carousel-item {
          width: 100%;
          height: 100%;
          border-radius: 2em;
          background-color: #D2D2D2; }
          .materials-main-container .main .carousel .carousel-inner .carousel-item * {
            padding: 0;
            margin: 0; }
          .materials-main-container .main .carousel .carousel-inner .carousel-item hr {
            height: 0.12em;
            background-color: #858186; }
          .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .title {
              width: 100%;
              height: fit-content;
              padding: 1em 1em 0;
              margin-bottom: 1.5em; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .title h1 {
                color: #858186;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.1em; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .title hr:nth-child(3) {
                width: 80%;
                margin: 0 auto; }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .img {
              width: 80%;
              height: 40%;
              margin: 0 auto 2em;
              border-radius: 0.8em;
              box-shadow: 0 0.8em 1.2em #00000067;
              background-size: cover; }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .material1 {
              background-image: url("https://i.pinimg.com/originals/bb/74/f7/bb74f714d3b0082ca1831d6e7cec3b82.jpg"); }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .material2 {
              background-image: url("https://static.wixstatic.com/media/35d0ce_f09aeb35a3c14763ac610e1bc86e0336~mv2.jpg/v1/fill/w_584,h_438,fp_0.50_0.50,lg_1,q_80,enc_auto/35d0ce_f09aeb35a3c14763ac610e1bc86e0336~mv2.jpg"); }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .material3 {
              background-image: url("https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946__340.jpg"); }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .material4 {
              background-image: url("https://images.unsplash.com/photo-1554296048-b59c9fca4857?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNsYXRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .material5 {
              background-image: url("http://www.canterasbertha.com/wp-content/uploads/2017/12/CA041-thegem-blog-timeline-large.jpg"); }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .material6 {
              background-image: url("https://thumbs.dreamstime.com/b/el-granito-natural-se-llama-textura-de-piedra-bianco-crystal-116324676.jpg"); }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features {
              margin-bottom: 0.4em; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features h2 {
                color: #858186;
                font-weight: 500;
                font-size: 1.1em;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.1em; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers {
                margin: 0.4em 0;
                display: flex;
                justify-content: space-around; }
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char1-num::after,
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char2-num::after,
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char3-num::after {
                  width: 0.3em;
                  height: 0;
                  margin: 0;
                  background-color: #858186;
                  content: '';
                  display: block;
                  transition: 0.5s;
                  transition-delay: 0.5s;
                  position: relative;
                  left: 0.1em; }
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char1-num.active::after,
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char2-num.active::after,
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char3-num.active::after {
                  height: 0.5em;
                  background-color: #545154;
                  transition: 0.5s; }
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers p {
                  width: fit-content;
                  height: 1.55em;
                  padding: 0.05em 0.4em;
                  border-radius: 0.35em;
                  background-color: #858186;
                  color: #E4E4E4;
                  font-size: 1.5em;
                  font-weight: 800;
                  text-align: center;
                  cursor: pointer;
                  transition-delay: 1s; }
                  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers p.active {
                    background-color: #545154;
                    transition-delay: 0s; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text {
                display: flex;
                justify-content: center; }
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text p {
                  width: 80%;
                  padding: 0.06em 0.5em;
                  border-radius: 0.5em;
                  background-color: #545154;
                  color: #E4E4E4;
                  font-size: 0.8em;
                  font-weight: 500;
                  text-align: center;
                  text-transform: uppercase;
                  transition: 0.5s;
                  position: absolute;
                  opacity: 0; }
                  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text p.active {
                    opacity: 1;
                    transition: 0.5s;
                    transition-delay: 0.5s; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features hr {
                width: 65%;
                margin: 1.2em auto 0;
                transition: 0.5s;
                transition-delay: 0.5s; }
                .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features hr.active {
                  margin-top: 2em;
                  transition: 0.5s; }
            .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance {
              display: flex;
              flex-direction: column;
              align-items: center; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance__text {
                margin-bottom: 0.32em;
                color: #858186;
                font-weight: 500;
                font-size: 1.1em;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.1em; }
              .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance__num {
                width: fit-content;
                padding: 0.2em 0.5em;
                border-radius: 0.5em;
                background-color: #858186;
                font-size: 1.5em;
                font-weight: 600;
                color: #E4E4E4;
                text-align: center; }
  .materials-main-container .footer {
    height: 15vh;
    z-index: 3; }
    .materials-main-container .footer .footer-container {
      padding: 0.25em; }
    .materials-main-container .footer ul {
      margin: 0; }

@media (min-width: 23.4375em) {
  .materials-main-container .main .carousel .carousel-inner .carousel-item hr {
    height: 0.12em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .title h1 {
    font-size: 1.8em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features h2 {
    font-size: 1.3em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char1-num::after,
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char2-num::after,
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char3-num::after {
    width: 0.4em;
    left: 0.08em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers p {
    height: 1.55em;
    border-radius: 0.35em;
    font-size: 1.7em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text p {
    padding: 0.06em 0.5em;
    font-size: 1em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features hr.active {
    margin-top: 2.2em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance__text {
    margin-bottom: 0.32em;
    font-size: 1.3em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance__num {
    padding: 0 0.5em;
    font-size: 1.7em; } }

@media (min-width: 26.5625em) {
  .materials-main-container .main .carousel .carousel-inner .carousel-item hr {
    height: 0.18em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features h2 {
    font-size: 1.4em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text p {
    font-size: 1.15em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features hr.active {
    margin-top: 2.4em; } }

@media (min-width: 48em) {
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features h2 {
    font-size: 1.5em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char1-num::after,
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char2-num::after,
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char3-num::after {
    width: 0.35em;
    left: 0.1em;
    top: -0.1em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char1-num.active::after,
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char2-num.active::after,
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers .char3-num.active::after {
    height: 0.38em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .numbers p {
    height: 1.5em;
    font-size: 1.9em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text p {
    padding: 0.06em 0.5em;
    font-size: 1.4em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features hr.active {
    margin-top: 3em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance__text {
    margin-bottom: 0.05em;
    font-size: 1.5em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .distance__num {
    padding: 0 0.5em;
    font-size: 1.7em; } }

@media (min-width: 48em) {
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .title h1 {
    font-size: 2.5em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features h2 {
    font-size: 1.8em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features .text p {
    padding: 0.06em 0.5em;
    font-size: 1.7em; }
  .materials-main-container .main .carousel .carousel-inner .carousel-item .carousel-item-flex-container .features hr.active {
    margin-top: 3.8em; } }

@media (max-height: 26.5625em) {
  .main-container .header {
    height: 6.4em; }
  .main-container .main {
    height: 45em; }
  .main-container .footer {
    height: 6.4em; } }
