@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-size: 1em; }

::-webkit-scrollbar {
  display: none; }

.header__menuIcon > span {
  display: block;
  width: 2em;
  height: 0.25em;
  border-radius: 1em;
  background-color: #545154; }
  .header__menuIcon > span:not(:last-child) {
    margin-bottom: 0.25em; }

.header__menuIcon, .header__menuIcon > span {
  transition: all 0.4s ease-in-out; }

.header__menuIcon.active {
  transition-delay: 0.8s;
  transform: rotate(45deg); }
  .header__menuIcon.active > span:nth-child(2) {
    width: 0; }
  .header__menuIcon.active > span:nth-child(1),
  .header__menuIcon.active > span:nth-child(3) {
    transition-delay: 0.4s; }
  .header__menuIcon.active > span:nth-child(1) {
    transform: translateY(0.5625em); }
  .header__menuIcon.active > span:nth-child(3) {
    transform: translateY(-0.4375em) rotate(90deg); }

.glass-background {
  -webkit-backdrop-filter: blur(0.625em);
  backdrop-filter: blur(0.625em);
  box-shadow: 0 0.5em 2em 0 #0000005e;
  border: 0.0625em solid #ffffff2e; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main-container {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.header {
  width: 100%;
  padding: 1.25em 10vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header__logo {
    width: 2.6em; }
  .header hr {
    width: 100%;
    height: 0.2em;
    margin: 0 15vw;
    background-color: #545154;
    border-radius: 100%; }

@media (min-width: 48em) {
  .header hr {
    margin: 0 8vw; } }

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  background: linear-gradient(0deg, #8d84799a 0%, #ffffff9a 100%);
  -webkit-backdrop-filter: blur(0.1875em);
  backdrop-filter: blur(0.1875em);
  transition: 0.5s;
  transition-delay: 0.6s; }
  .menu.active {
    right: 0;
    transition-delay: 1.5s; }
  .menu__slideDownAdvice {
    display: none; }
  .menu__ul {
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    align-items: center; }
    .menu__ul .link:nth-child(1) {
      margin-top: 0.2em; }
    .menu__ul .link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      color: #545154;
      font-size: 1.35em;
      display: inline-block;
      position: relative; }
      .menu__ul .link::before, .menu__ul .link::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.125em;
        background-color: #545154;
        transform: scaleX(0);
        transition: transform 0.25s; }
      .menu__ul .link::before {
        top: -0.1875em;
        transform-origin: left; }
      .menu__ul .link::after {
        bottom: -0.1875em;
        transform-origin: right; }
      .menu__ul .link:hover::before, .menu__ul .link:hover::after {
        transform: scale(1); }
    .menu__ul .active::before, .menu__ul .active::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.125em;
      background-color: #545154;
      transform: scaleX(1);
      transition: transform 0.25s; }
  .menu .contact-button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    color: #545154;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.4s;
    position: relative; }
    .menu .contact-button .button-border-line-t,
    .menu .contact-button .button-border-line-r,
    .menu .contact-button .button-border-line-b,
    .menu .contact-button .button-border-line-l {
      display: block;
      background-color: #545154;
      position: absolute;
      width: 0;
      height: 0;
      transition: all 0.4s, opacity 0.1s 0.4s;
      opacity: 0; }
    .menu .contact-button .button-border-line-t {
      left: -0.25em;
      top: 0.2em;
      rotate: 180deg; }
    .menu .contact-button .button-border-line-b {
      right: -0.25em;
      top: 1.78em; }
    .menu .contact-button .button-border-line-r {
      rotate: 90deg;
      right: -0.85em;
      top: 1.022em; }
    .menu .contact-button .button-border-line-l {
      rotate: 90deg;
      left: -0.85em;
      top: 1.022em; }
    .menu .contact-button:hover .button-border-line-r,
    .menu .contact-button:hover .button-border-line-l {
      width: 35%;
      height: 0.125em;
      transition: 0.8s, opacity 0.1s;
      opacity: 1; }
    .menu .contact-button:hover .button-border-line-t,
    .menu .contact-button:hover .button-border-line-b {
      width: 108%;
      height: 0.125em;
      transition: 0.8s, opacity 0.1s;
      opacity: 1; }

@keyframes slide-circle-animation {
  0% {
    bottom: 0; }
  70% {
    bottom: 40%; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    bottom: 40%; } }

@media (max-height: 26.5625em) {
  .menu__slideDownAdvice {
    width: 18%;
    top: 9em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.4; }
    .menu__slideDownAdvice p {
      text-align: center; }
    .menu__slideDownAdvice .swipe-icon {
      width: 50%;
      height: 3.6em;
      margin-top: 0.2em;
      display: flex;
      justify-content: center; }
      .menu__slideDownAdvice .swipe-icon i {
        position: absolute;
        bottom: 0;
        animation: slide-circle-animation 3s infinite; }
  .menu .left-advice {
    left: 10vw; }
  .menu .right-advice {
    right: 10vw; }
  .menu__ul {
    width: 100%;
    height: 40vh;
    top: 9em;
    display: inline-block;
    overflow: scroll; }
    .menu__ul li {
      text-align: center;
      margin-top: 2em; }
    .menu__ul li:nth-child(1) {
      margin-top: 0.2em; }
    .menu__ul li:nth-child(5) {
      margin-top: 1.4em; } }

.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .glass-background {
    background: linear-gradient(135deg, #3b3b3b46, #1d1d1d46);
    border-radius: 2.1875em; }
  .footer .footer-container {
    width: 80%;
    padding: 0.625em;
    color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .footer-container p {
      text-transform: capitalize;
      margin-bottom: 0.3125em;
      font-size: 1.2em; }
    .footer .footer-container ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly; }
      .footer .footer-container ul .fa {
        text-decoration: none;
        font-size: 1.4em;
        color: #E4E4E4; }

@media (min-width: 48em) {
  .footer .footer-container p {
    font-size: 1.4em; }
  .footer .footer-container ul .fa {
    font-size: 1.6em; } }

.main-container .header {
  height: 10vh;
  z-index: 7; }

.main-container .menu {
  z-index: 6; }

.main-container .background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.main-container .background-overlay {
  width: 100%;
  height: 100%;
  background: #b8ac9f25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.main-container .main {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5; }
  .main-container .main .second-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-container .main .second-container .glass-background {
      background: linear-gradient(135deg, #ffffff1a, #ffffff00);
      box-shadow: 0.0625em 0.0625em 1.25em 0 #0000004d;
      border-radius: 0.38em; }
    .main-container .main .second-container .subcontainer {
      min-width: 16em;
      max-width: 24.5em;
      padding: 1.5em;
      color: #545154;
      display: flex;
      flex-direction: column; }
      .main-container .main .second-container .subcontainer h1 {
        font-weight: 900;
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase; }
        .main-container .main .second-container .subcontainer h1 span {
          font-weight: 400; }
      .main-container .main .second-container .subcontainer hr {
        height: 0.25em;
        margin: 1em 10%; }
      .main-container .main .second-container .subcontainer p {
        font-weight: 300;
        font-size: 1em;
        text-align: center;
        text-transform: uppercase; }

.main-container .footer {
  height: 15vh;
  z-index: 4; }

@media (min-width: 48em) {
  .main-container .main .second-container .subcontainer p {
    padding: 0.4em; } }

@media (max-height: 26.5625em) {
  .main-container .header {
    height: 6.4em; }
  .main-container .main {
    height: 15.625em; }
  .main-container .footer {
    height: 6.4em; } }
